.todo-item{
    text-align: left;
}

.todo-item label {
    width: 100%;
    background-color: aqua;
}
.custom-checkbox {
    display:inline;
    min-width: 70%;
}
.custom-checkbox input:checked {
    border-color: black;
    background-color: black; 
}

.custom-checkbox label{
    text-align: left;
}